@mixin MasterWidget() {
  border: 1px solid #363a4f;
  border-radius: 10px;
}

window#top_bar {
  @include MasterWidget();
  background-color: #{"@theme_bg_color"};
  min-height: 30px;
  padding: 8px;
}
.workspaces_box {
  @include MasterWidget();
}
.workspace_button {
  background-color: transparent;
  color: #efefef;
  padding-right: 6px;
  transition: ease-in-out all 200ms;

  &:hover {
    transform: scale(1.2);
    background-color: #3b4049;
  }
}
.focused {
  color: #c678ad;
}
.work {
  color: #61afd7;
}
